extends layout

block content
    
    form(method='post' action="/auth/logout")
      input(type='submit', value='تسجيل الخروج')
    h1 adsasdasdasdasd
    h1(style="margin-top: 100px !important;") #{user}
    h1 asdasdasdadad