extends layout

block content
     .container-fluid(style="margin-top:100px; width:80%;")
      .row
        .col-md-12
          .page-header(style="text-align:right;")

            h1
              |يوم التوجيه الأكاديمي  الرابع, بحضور المدرب أشرف قرطام 
              h2
               small 21/4/2017 الجمعة , 22:53
           dl.dl-horizontal(style='margin-left:40px;text-align:right; width:92%;text-align:right!important;')
              small(style='color:#786f55;float:right;') بقلم : علي جبر 
              h3(style="display:block;float:right;width:83%;text-align:right!important;margin-right:0px;margin-bottom:60px;")
                  | افتتحت جمعية أكاديميي أبو غوش "يوم التوجيه الأكاديمي الرابع"، بمحاضرة شائقة قدمها المدرب والخبير في علوم التنمية البشرية "أشرف قرطام"، حيث قدم قرطام في محاضرته أدوات ومهارات للطلاب الثانويين تساعدهم في تطوير ذواتهم وتفتح الآفاق لأحلامهم، كما وأكد على التميز كوسيلة لتحقيق الذات والإبداع.
                  | هذا ومن جهتها أكدت مركزة مشروع "التوجيه المهني"  في الجمعية وعضو الإدارة فيها، روان ابو قطيش، على أهمية إحياء هذا اليوم وجعله تقليدًا سنويًا، ليشكل منارة للطلاب الثانويين والمقبلين على الدراسة الجامعية، وليساعدهم في اختيارهم لموضوع دراستهم المستقبلية.
                  | وفي كلمته الترحيبية، أشاد رئيس المجلس المحلي، السيد عيسى جبر، بالجهود التي تقدمها جمعية أكاديميي ابو غوش، كما وأكد على ضرورة الاستمرار وتقديم الإرشادات للطلاب من خلال محاضرات توعويّة في داخل الصفوف في المدارس، وذلك لترسيخ أهمية هذه الاختيار الذي سيرسم مستقبلهم.
                  | أما الفقرة الاخيرة، فقد شملت محطات إرشادية احتوت على اكثر من ٤٠ تخصصًا علميًا ومهنيًا، اضافة الى محطة خاصة بالبسيخومتري، ومحطة أخرى شملت استمارة تقييم وزّعت على المشتركين لإعطائهم مؤشراً لميولهم الأكاديمية.
                  | وفي ختام اليوم، شكر رئيس جمعية أكاديميي أبو غوش، يوسف جبر، المشاركين والطلاب وحرصهم على مستقبلهم ليكونوا رافعةً للبلد ومستقبله. كما وأثنى على الجهود الجبارة التي بذلها أكثر من ٥٠ أكاديمية وأكاديميًا لإنجاح هذا اليوم. وأخيرا قدمت الجمعية جائزتين قيّمتين لاثنين من المشتركين.

           .row(style='margin-left:40px; margin-right:0px;text-align:right; width:92%; margin-top:40px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/1.jpg', alt='', style='width: 300px  !important; height: 300px !important;margin-bottom:10px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/2.jpg', alt='', style='width: 300px !important; height: 300px !important;margin-bottom:10px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/3.jpg', alt='', style='width: 300px !important; height: 300px !important;margin-bottom:10px;')
            .row(style='margin-left:40px; margin-right:0px;text-align:right; width:92%; margin-top:40px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/4.jpg', alt='', style='width: 300px  !important; height: 300px !important;margin-bottom:10px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/5.jpg', alt='', style='width: 300px !important; height: 300px !important;margin-bottom:10px;')
              .col-sm-4
                div
                  img(src='img/tawjeeh/6.jpg', alt='', style='width: 300px !important; height: 300px !important;margin-bottom:10px;')
