extends layout

block content
    .container(style="margin-top:100px !important")
        .row
          .col-lg-12.text-center
            h2.section-heading إدارة الجمعية
            h3.section-subheading.text-muted  اعضاء الجمعية والذين يبذلون جهود كبيرة فيها
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/1.jpg', alt='', style='width: 150px  !important; height: 150px !important;')
              h4 ابراهيم عبدالرحمن
              p.text-muted نائب مدير الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/ibrhem.farid?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/2.jpg', alt='', style='width: 200px !important; height: 200px !important;')
              h4 يوسف محمود جبر
              p.text-muted مدير الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/yosef.jaber.501?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/ghali.jpeg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 غالي جبر
              p.text-muted نائب مدير الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/ghali.jaber?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
           .row
        // new row 
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/rawan.jpg', alt='', style='width: 150px  !important; height: 150px !important;')
              h4 روان ابو قطيش
              p.text-muted عضوة الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/rawan.ak.5?ref=ts&fref=ts&qsefr=1')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/sabrine.jpg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 صابرين إبراهيم
              p.text-muted عضوة الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/zahi.jpg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 د.زاهي أبوقطيش
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/zahi.abughosh?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin     
         // new row 
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/fadi.jpg', alt='', style='width: 150px  !important; height: 150px !important;')
              h4 فادي ابراهيم
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/fadi.ibrahim.7?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/ali.jpg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 علي ابوغوش
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/ali.abugosh.7?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/mohmd.jpg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 محمد ابراهيم
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/mohmd.ibrahem')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin      
        // new row 
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/ameen.jpg', alt='', style='width: 150px  !important; height: 150px !important;')
              h4 محمد جبر
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/mohamad.gaber.3?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/khaled.jpg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 خالد أبو قطيش
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/abukatish.jpeg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 محمد أبو قطيش
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/mohamed.abukatish.7?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin              
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/nora.jpeg', alt='', style='width: 150px  !important; height: 150px !important;')
              h4 نورا جبر
              p.text-muted عضوة الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/nora.jaber1')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/osed.jpeg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 أسيد جبر
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/osed.jaber?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/yosef.jpeg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 يوسف إبراهيم
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/yosef.z.ibrahim?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/rafat.jpeg', alt='', style='width: 150px !important; height: 150px !important;')
              h4 رأفت أبو قطيش
              p.text-muted عضو الجمعية
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/rafat.abukatesh.5?fref=ts')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin